/* EN CAS D'UTILISATION DE BOOTSTRAP, LE BODY DOIT ÊTRE RETIRER */
body {
    background-image: radial-gradient(circle at center, #00cc44, #00b33c, #009933, #00802b, #006622, #004d1a);
    color: #ffffff;
}
/* EN CAS D'UTILISATION DE BOOTSTRAP, LE BODY DOIT ÊTRE RETIRER */
.oui {
    margin-left: 40rem;
    margin-top: 2rem;
}